* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.espacador {
    height: 50px;
    width: 100%;
    /* border: 3px solid red; */
}

header {
    margin: auto;
    display: flex;
    height: 100px;
    width: 100vw;
    padding-inline: 5%;
    background-color: #006bde;

    align-content: center;
    justify-content: space-between;
}

h1{
    width: 50%;
    margin: auto;
    color: #f6f6f6;
    font-size: 20px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-right: 50%;
} a {
    margin: auto;
}

.btn_sair {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #006bde;
    background-color: #f6f6f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    margin: auto;
    position: relative;
    height: calc(100vh - 100px);
    width: calc(100vw - 20%);
    /* border: 2px solid red; */ 
}

.btn_CadastrarTurma {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #f6f6f6;
    background-color: #006bde;
    border: none;
    cursor: pointer;
}

/* Tabela */
.tabela {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
} .tabela thead {
    background-color: #006bde;
    color: #f6f6f6;
} .tabela th, .tabela td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
} .tabela tr:nth-child(even) {
    background-color: #f2f2f2;
}